* {
  box-sizing: border-box;
}

:root {
  /* all colors */
  --color-2: #342e37;
  --color-3: #357ded;
  --color-4: white;

  /* font colors */
  --font-content-color: white;
  --font-project-color: var(--color-2);
  --project-link-color: var(--color-3);
  --project-link-hover: var(--color-2);
  --link-color: white;
  --link-hover: var(--color-3);
  --nav-color: var(--color-2);

  /* btn colors */
  --btn-color: var(--color-3);
  --btn-hover: #2259b3;

  /* background colors */
  --background-img: rgba(53, 125, 237, 0.1);
  --background-color: var(--color-3);
  --project-color: var(--color-4);
  --content-bckgrnd-color: var(--color-2);

  --bckgrnd-header-img-margin: 50px 10px 10px 10px;
  --bckgrnd-img-margin: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: var(--project-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 0.8em;
  transition: 0.2s;
}

a:hover {
  color: var(--link-hover);
}

ul {
  list-style-type: none;
}

nav,
footer {
  background-color: var(--nav-color);
  color: var(--font-content-color);
}

/* nav, */
footer,
header,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

nav {
  position: fixed;
  top: 0;
}

header {
  padding: 12% 0;
  text-align: center;
  min-height: 100vh;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: var(--background-color);
}

footer {
  text-align: center;
  padding: 1% 0;
  font-size: 0.6em;
}

/* navbar */
.name-link {
  text-transform: uppercase;
  padding: 10px;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.scroll-links {
  display: none;
}

.icon {
  padding: 10px;
}

.responsive {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.responsive > li {
  padding: 5px;
}

/* all of the header things */
.header-pic {
  background-image: linear-gradient(
      var(--background-img),
      var(--background-img)
    ),
    url("images/snow-face.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: var(--bckgrnd-header-img-margin);

  /* parallax */
  background-attachment: fixed;
  background-position: center;
}

.tagline {
  margin-top: 30vh;
  color: var(--link-color);
  text-shadow: 0.1em 0.1em 0.2em #011627;
}

/* big pics for dividers  */
.section-pic {
  height: 100vh;
  background-color: var(--project-color);
}

.sweet-pic-2 {
  background-image: linear-gradient(
      var(--background-img),
      var(--background-img)
    ),
    url("images/norway-raft.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-position-x: 100%;
  margin: var(--bckgrnd-img-margin);
}

.sweet-pic-3 {
  background-image: linear-gradient(
      var(--background-img),
      var(--background-img)
    ),
    url("images/packraft.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: var(--bckgrnd-img-margin);
}

.sweet-pic-4 {
  background-image: linear-gradient(
      var(--background-img),
      var(--background-img)
    ),
    url("images/hiking-away.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: var(--bckgrnd-img-margin);
}

.about,
.projects,
.contact {
  background-color: var(--content-bckgrnd-color);
}

/* all content sections */
.content {
  width: 85%;
  margin: 0 auto;
  color: var(--font-content-color);
  font-family: "Roboto", sans-serif;
}

/* about me section */
.email-button {
  text-align: center;
  margin-top: 55px;
}

/* .email-button > button > a:hover {
  color: #f96900;
} */

#send-email {
  background-color: var(--btn-color);
  color: var(--font-content-color);
  border-radius: 5px;
  padding: 15px;
  width: 150px;
  transition: 0.2s;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 900;
}

#send-email:hover {
  background-color: var(--btn-hover);
}

/* projects section */
.project {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--project-color);
  color: var(--font-project-color);
}

.project a {
  color: var(--project-link-color);
}

.project a:hover {
  color: var(--project-link-hover);
}

.tech-used {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.tech-used > li {
  font-size: 0.8em;
}

.project-links {
  text-align: center;
}

.project-links > a {
  margin: 10px;
}

.actual-screenshot {
  margin: 0 auto;
  width: 100%;
  border: 1px solid black;
}

/* contact section */
.contact-links {
  display: flex;
  justify-content: space-around;
}

.icons {
  font-size: 4em;
  color: var(--btn-color);
  transition: 0.2s;
}

.icons:hover {
  color: var(--btn-hover);
}

.contact-links > li {
  padding: 5px;
}

@media screen and (min-width: 600px) {
  .icon {
    display: none;
  }

  .scroll-links {
    display: flex;
    margin: 0;
    flex-direction: row;
    padding-top: 5px;
    width: 50%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 920px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .project {
    margin: 15px auto;
    width: 45%;
  }
}
